@font-face {
  font-family: "wd-icons";
  src: url("fonts/wd-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="wd-icon-"],
[class*=" wd-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "wd-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wd-icon-add-circle:before {
  content: "\e90e";
}
.wd-icon-add:before {
  content: "\e93c";
}
.wd-icon-arrow-down:before {
  content: "\e91e";
}
.wd-icon-arrow-left:before {
  content: "\e944";
}
.wd-icon-arrow-right:before {
  content: "\e91f";
}
.wd-icon-arrow-thin-down:before {
  content: "\e94e";
}
.wd-icon-arrow-thin-left:before {
  content: "\e94f";
}
.wd-icon-arrow-thin-right:before {
  content: "\e950";
}
.wd-icon-arrow-thin-up:before {
  content: "\e951";
}
.wd-icon-arrow-up:before {
  content: "\e91a";
}
.wd-icon-article:before {
  content: "\e953";
}
.wd-icon-bad:before {
  content: "\e954";
}
.wd-icon-bell:before {
  content: "\e955";
}
.wd-icon-bubble:before {
  content: "\e956";
}
.wd-icon-bulb:before {
  content: "\e957";
}
.wd-icon-camera:before {
  content: "\e958";
}
.wd-icon-caret-bottom:before {
  content: "\e959";
}
.wd-icon-caret-left:before {
  content: "\e95a";
}
.wd-icon-caret-right:before {
  content: "\e95b";
}
.wd-icon-caret-top:before {
  content: "\e95c";
}
.wd-icon-cart:before {
  content: "\e95d";
}
.wd-icon-chat-bubble-circle:before {
  content: "\e939";
}
.wd-icon-chat-bubble:before {
  content: "\e95f";
}
.wd-icon-chat:before {
  content: "\e960";
}
.wd-icon-check-outline:before {
  content: "\e961";
}
.wd-icon-check-round:before {
  content: "\e948";
}
.wd-icon-check:before {
  content: "\e963";
}
.wd-icon-clock-bold:before {
  content: "\e964";
}
.wd-icon-clock-fill:before {
  content: "\e965";
}
.wd-icon-clock:before {
  content: "\e966";
}
.wd-icon-clock:before {
  content: "\e966";
}
.wd-icon-alarm-clock:before {
  content: "\e927";
}
.wd-icon-close-fill:before {
  content: "\e93f";
}
// 无
.wd-icon-close-outline:before {
  content: "\e968";
}
.wd-icon-close:before {
  content: "\e940";
}
.wd-icon-collect:before {
  content: "\e96a";
}
.wd-icon-computer:before {
  content: "\e925";
}
.wd-icon-delete-thin:before {
  content: "\e93b";
}
.wd-icon-delete:before {
  content: "\e942";
}
.wd-icon-discuss:before {
  content: "\e96d";
}
.wd-icon-edit-outline:before {
  content: "\e90d";
}
.wd-icon-error:before {
  content: "\e96f";
}
.wd-icon-eye-close:before {
  content: "\e929";
}
.wd-icon-view:before {
  content: "\e928";
}
.wd-icon-filter:before {
  content: "\e945";
}
.wd-icon-fingerprint:before {
  content: "\e972";
}
.wd-icon-flashlight:before {
  content: "\e973";
}
.wd-icon-font-size:before {
  content: "\e974";
}
.wd-icon-general:before {
  content: "\e975";
}
.wd-icon-good:before {
  content: "\e937";
}
.wd-icon-goods:before {
  content: "\e92c";
}
.wd-icon-happy:before {
  content: "\e977";
}
.wd-icon-history:before {
  content: "\e978";
}
.wd-icon-indicator-right:before {
  content: "\e979";
}
.wd-icon-invite:before {
  content: "\e97a";
}
.wd-icon-link:before {
  content: "\e97b";
}
.wd-icon-living:before {
  content: "\e97c";
}
.wd-icon-load:before {
  content: "\e97d";
}
.wd-icon-lock:before {
  content: "\e97e";
}
.wd-icon-menu-fill:before {
  content: "\e97f";
}
.wd-icon-menu:before {
  content: "\e980";
}
.wd-icon-more:before {
  content: "\e981";
}
.wd-icon-more-vertical:before {
  content: "\e943";
}
.wd-icon-news:before {
  content: "\e982";
}
.wd-icon-pause:before {
  content: "\e983";
}
.wd-icon-pen:before {
  content: "\e984";
}
.wd-icon-person:before {
  content: "\e985";
}
.wd-icon-phone:before {
  content: "\e946";
}
.wd-icon-picture:before {
  content: "\e92a";
}
.wd-icon-play:before {
  content: "\e988";
}
.wd-icon-praise-fill:before {
  content: "\e989";
}
.wd-icon-praise:before {
  content: "\e98a";
}
.wd-icon-question-outline:before {
  content: "\e98b";
}
.wd-icon-record:before {
  content: "\e98c";
}
.wd-icon-refresh:before {
  content: "\e947";
}
.wd-icon-remove-fill:before {
  content: "\e98e";
}
.wd-icon-remove-outline:before {
  content: "\e98f";
}
.wd-icon-safe:before {
  content: "\e990";
}
.wd-icon-search:before {
  content: "\e941";
}
.wd-icon-select:before {
  content: "\e992";
}
.wd-icon-service:before {
  content: "\e993";
}
.wd-icon-setting:before {
  content: "\e932";
}
.wd-icon-share:before {
  content: "\e995";
}
.wd-icon-star-fill:before {
  content: "\e996";
}
.wd-icon-star:before {
  content: "\e997";
}
.wd-icon-success:before {
  content: "\e998";
}
.wd-icon-tickets:before {
  content: "\e999";
}
.wd-icon-video:before {
  content: "\e930";
}

.wd-icon-warning:before {
  content: "\e931";
}

.wd-icon-download:before {
  content: "\e91d";
}
.wd-icon-scan:before {
  content: "\e93d";
}
.wd-icon-copy:before {
  content: "\e911";
}
.wd-icon-translate:before {
  content: "\e918";
}
.wd-icon-phone-compute:before {
  content: "\e924";
}
.wd-icon-evaluation:before {
  content: "\e92b";
}
.wd-icon-lenovo:before {
  content: "\e92d";
}
.wd-icon-list:before {
  content: "\e92e";
}
.wd-icon-note:before {
  content: "\e92e";
}
.wd-icon-camera:before {
  content: "\e933";
}
.wd-icon-transfer:before {
  content: "\e934";
}
.wd-icon-stream:before {
  content: "\e935";
}
.wd-icon-keywords:before {
  content: "\e938";
}
